.App {
  text-align: center;
}

.Header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.TimerViewBox {
  display: flex;
  justify-content: center;
  padding:10px;
  background-color: #4c7c6e;
}

.TimerFunctions {
  background-color: #4c7c6e;
  display: flex;
  justify-content: center;
  border-bottom:#282c34 solid 3px;
}

.TimerFunctionButton {
  margin: 10px;
}

.TimerView {
  border-width:5px;
  border-style:solid;
  border-radius:30px;
  border-color: #282c34;
  background-color: #d0e5e5;
  padding-inline: 30px;
  margin: auto;
}

.TimerTypeText {
  margin: 0;
  margin-top: 10px;
}

.TimerText {
  font-size:120px;
  margin: 0;
  line-height:90px;
  margin-bottom: 25px;
}

.PomodoroTimer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #d0e5e5;
}

.TimerSettings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.TimerSetting{
  padding-inline: 20px;
  padding-block: 10px;
}

.LengthSetting {
  margin: auto;
}

.SettingButtonView {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.SettingButton {
  margin-inline: 2px;
}

button {
  background-color: #282c34;
  color: #d0e5e5;
}

.Header-title {
  margin:10px;
  align-self:center;
  font-size: calc(10px + 2vmax);
  color: white;
}

.Header-themes {
  margin:10px;
  align-self: center;
}

.App-link {
  color: #61dafb;
}

h2 {
  margin: 5px;
}